@import "tailwindcss";

@theme {
  --color-bgPeach: #fffafa;
  --color-bgSky: #dae0f4;
  --color-bgLightSky: #95baff;
  --color-darkPrimary: #1a1a1d;
  --color-darkSecondary: #2d2d30;
  --color-bgForest: #659379;
  --color-bgMandy: #efb7a4;
  --color-earth: #431d01;
  --color-sand: #fbf9ef;
  --color-calendar: #91bbe5;

  --color-resources-red-100: #ffeded;
  --color-resources-red-200: #ffc8c8;
  --color-resources-red-300: #f38585;

  --color-resources-blue-100: #ddf4ff;
  --color-resources-blue-200: #79bee3;
  --color-resources-blue-300: #2081b4;
  --color-resources-green-100: #f3ffea;
  --color-resources-green-200: #85e0af;
  --color-resources-green-300: #6e8e80;
  --color-resources-yellow-100: #fffee8;
  --color-resources-yellow-200: #ffe197;
  --color-resources-yellow-300: #f9d452;
  --color-resources-brown-100: #431d01;

  --color-dco-red-100: #fceded;
  --color-dco-orange-50: #fffaf4;
  --color-dco-orange-100: #ffb8af;
  --color-dco-orange-200: #ff9675;
  --color-dco-orange-300: #eb8160;
  --color-dco-orange-400: #c9785e;
  --color-dco-yellow-100: #ffdf8c;

  --color-dv-primary-green-400: #175e4d;
  --color-dv-primary-green-300: #0d755c;
  --color-dv-primary-green-200: #4d8f7b;
  --color-dv-primary-green-100: #c4e1e4;

  --color-dau-primary-warm-400: #e74632;
  --color-dau-primary-warm-300: #f96e46;
  --color-dau-primary-warm-200: #ffb923;
  --color-dau-primary-warm-100: #f9c846;

  --color-dau-primary-cool-500: #0c5b37;
  --color-dau-primary-cool-400: #64a587;
  --color-dau-primary-cool-300: #85c4cb;
  --color-dau-primary-cool-200: #5068a8;
  --color-dau-primary-cool-100: #397bec;

  --color-dau-primary-accent-500: #d45454;
  --color-dau-primary-accent-400: #f88c99;
  --color-dau-primary-accent-300: #e9d8c9;
  --color-dau-primary-accent-200: #fdf9ed;
  --color-dau-primary-accent-100: #121212;

  --color-dau-secondary-warm-400: #f07167;
  --color-dau-secondary-warm-300: #fbc193;
  --color-dau-secondary-warm-200: #f9d678;
  --color-dau-secondary-warm-100: #fcd8ca;
  --color-dau-secondary-warm-50: #eeeeee;

  --color-dau-secondary-400: #c4dbc1;
  --color-dau-secondary-300: #b6ddda;
  --color-dau-secondary-200: #91bbe5;
  --color-dau-secondary-100: #ffe3e3;
  --color-dau-secondary-50: #431d01;
}
